.login-card {
    width: auto;
}

.login-title {
    font-weight: bold;
    font-size: 22px;
    color: #3f51b5;
    text-align: center;
}

.input-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.input-area>mat-form-field {
    width: 100%;
}

.action-area {
    text-align: center;
    padding: 10px;
}

.menue-area {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    padding-bottom: 5px;
}