<form class="login-card">

    <mat-header>
        <mat-card-title class="login-title">ログイン</mat-card-title>
    </mat-header>

    <mat-card-content>
        <div class="input-area">
            <mat-form-field class="full-width">
                <mat-label>username</mat-label>
                <input matInput #userNameFocusable placeholder="田中太郎"
                [formControl]="userInfo.controls.userName"
                (keyup.enter)="nextInputFeild(userInfo.controls.userName, passwordFocusable)">
                <mat-error *ngIf="userInfo.controls.userName.hasError('required')">
                    User name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput #passwordFocusable type="password" placeholder="パスワード*"
                [formControl]="userInfo.controls.password" (keyup.enter)="nextButton(login-button)">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
        </div>
        <div class="action-area">
            <button mat-raised-button id="login-button" type="submit" color="primary" [disabled]="!userInfo.valid" (click)="onSingnin($event)">Login</button>
        </div>
        <div class="menu-area">
            <a mat-button color="primary"[routerLink]="['/password-reset']">パスワードをお忘れの方</a>
        </div>
    </mat-card-content>
</form>

