.login-form {
    padding-top: 15%;
    margin-left:auto;    /* 左側マージンを自動的に空ける */
    margin-right:auto;   /* 右側マージンを自動的に空ける */
    text-align:center;     /* 中身を左側表示に戻す */
    width:30%; 
}

.login-title {
    font-weight: bold;
    font-size: 32px;
    color: #3f51b5;
    text-align: center;
    width: 30%;
    padding-bottom: 50%;
}

.input-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.input-area>mat-form-field {
    width: 80%;
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 1%;
}

.action-area {
    text-align: center;
    padding-top: 15%;
}

.menue-area {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    padding-bottom: 5px;
}

#login-button {
    width: 50%;
}

.full-width {
    width: 70%;
}

#secret {
    padding-right: 150%;
}

.mat-error {
    color: red;
}