<app-user-header></app-user-header>
<div class="user-top">
   <div id="items">
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Title</mat-card-title>
        </mat-card-header>
          <img matCardImage src="Card wide image source">
            <mat-card-content>
                商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Title</mat-card-title>
        </mat-card-header>
          <img matCardImage src="Card wide image source">
            <mat-card-content>
                商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Title</mat-card-title>
        </mat-card-header>
          <img matCardImage src="Card wide image source">
            <mat-card-content>
                商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Title</mat-card-title>
        </mat-card-header>
          <img matCardImage src="Card wide image source">
            <mat-card-content>
                商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
          <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>

      <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Title</mat-card-title>
            </mat-card-header>
            <img matCardImage src="Card wide image source">
            <mat-card-content>
              　商品名
            </mat-card-content>
            <mat-card-content>
              　価格
            </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>
