.user-header {
  min-height: 65px;
  background-color: #424242;
}

#icon {
  color: #009688;
}

mat-menu {
  background-color: #009688;
}

#siteName {
  color: darkgray;
}

#rightIcon{
  float: right;
}

#leftIcon {
  float: left;
}

span {
  margin-top: 0.7%;
}

