.user-header {
  height: 5%;
  background-color: #424242;
}

#icon {
  color: #009688;
}

mat-menu {
  background-color: #009688;
}

#siteName {
  color: darkgray;
}

#rightIcon{
  float: right;
}

#leftIcon {
  float: left;
}

div {
  margin-top: 0.7%;
}

