<app-user-header></app-user-header>

<div>
  <mat-card class="productDetail">
    <span>
      <mat-card-content id="image">
        <img matCardImage src="Card wide image source">
      </mat-card-content>
    </span>

    <span>
      <mat-card-content id="item">
        <div>商品名</div>
        <div>価格</div>
        <div>在庫</div>
        <div>お届け日数</div>
      </mat-card-content>
    </span>

    <span>
      <mat-card-content id="action">
        <div>数量変更</div>
        <div>カート追加</div>
        <div>お気に入り追加</div>
        <div>この商品を購入</div>
      </mat-card-content>
    </span>
  </mat-card>

  <mat-card class="productInfo">
    <a>商品説明</a>
  </mat-card>

</div>
