<app-user-header></app-user-header>

<div class="userProductDetail">
  <mat-card id="productDetail">
    <div>
      <mat-card id="image">
        <img matCardImage src="Card wide image source">
      </mat-card>
    </div>

    <div>
      <mat-card id="item">
        <div>商品名</div>
        <div>価格</div>
        <div>在庫</div>
        <div>お届け日数</div>
      </mat-card>
    </div>

    <div>
        <mat-card id="action">
          <div>
            <mat-form-field>
              <mat-label>数量</mat-label>
              <mat-select>
                <mat-option *ngFor="let quantity of quantitys" [value]="quantity.value">
                  {{quantity.viewValue}}
                </mat-option>
              </mat-select>
           </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="warn" (click)="addToCart();">カート追加</button>
          </div>
          <div>
            <button mat-raised-button id="buyNow" >この商品を購入</button>
          </div>
          <div>
            <button mat-raised-button id="favorite"><fa-icon id="faHeart" [icon]="faHeart"></fa-icon></button>
          </div>
        </mat-card>
    </div>
  </mat-card>


  <mat-card class="productInfo">
    <a>商品説明</a>
  </mat-card>

</div>
