<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="ログイン">
            <mat-card-content>
              <form action="">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="ユーザーネーム"
                    required
                    name="username"
                    ngModel
                    #username="ngModel">
                    <mat-error *ngIf="username.invalid">ユーザーネームは必須項目です。</mat-error>
                  <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="パスワード" type="password" required minlength="6" name="password" ngModel #password="ngModel">
                    <mat-error
                      *ngIf="password.errors && password.errors.required">
                      パスワードは必須入力です。
                    </mat-error>
                    <mat-error
                      *ngIf="password.errors && password.errors.minlength">
                      パスワードは６文字以上で入力してください。
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>入力情報を保持する</mat-checkbox>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  type="submit"
                  (click)="onCheck();">
                  ログイン
                </button>

                <button
                  mat-raised-button
                  class="login-button">
                  パスワードをお忘れの方
                </button>
              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="新規登録">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="ユーザーネーム"
                  required
                  name="username"
                  ngModel
                  #username="ngModel">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="username.invalid">
                  ユーザーネームは必須項目です。
                </mat-error>

              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="メールアドレス"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">メールアドレスは必須項目です。</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="パスワード"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    パスワードは必須入力です。
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    パスワードは６文字以上で入力してください。
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>

              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="パスワード（確認）"
                  type="password"
                  required
                  minlength="6"
                  name="repassword"
                  ngModel
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors.required">
                  　パスワードを再入力してください。
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                type="submit"
                onclick="hoge();">
                新規登録
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

